{% extends "base.html"%}

{% block titulo %} - Programa 1{% endblock titulo %}

{% block conteudo %}
  <center>
  <div>
    <b>Programa que imprimi um n crescente informado pelo usuário. <br>
    Use uma função que receba um valor n inteiro e imprima até a n-ésima linha.</b>
  </div>
  <form method="post" action="">
   {% csrf_token %}
   {% for field in exercicio1_form %}
   <div class="field" style="center">
      <div class="field">
        <div>
          {{ field.label_tag }}:
        </div>
        </div>
          {{ field }}
        <div>
        </div>
        </div>
    {% endfor %}
    <div id="submit">
      <input type="submit" value="Enviar" />
    </div>
    <center>
    <table>
      <tr>
        <td>
    {% if resultado %}
      {% for lista in resultado %}
         {% for valor in lista %}
            <div>{{ valor }}</div>
         {% endfor %}
      {% endfor %}
    {% endif %}
    </td>
    </table>
    </center>
  </form>
  <center>
  <a href="/">Inicio</a>
  </center>
{% endblock conteudo %}

