{% extends "base.html"%}

{% block titulo %} - Programa 12{% endblock titulo %}

{% block conteudo %}
  <center>
  <div>
    <b>Desenha moldura.</b>
  </div>
  <form method="post" action="">
   {% csrf_token %}
   {% for field in exercicio12_form %}
   <div class="field">
      <div class="field">
        <div>
          {{ field.label_tag }}:
        </div>
        </div>
          {{ field }}
        <div>
        </div>
        </div>
    {% endfor %}
    <div id="submit">
      <input type="submit" value=" Enviar " />
    </div>
    {% if resultado %}
      {% for x in resultado %}
        {{ x|safe }}<br>
      {% endfor %}
    {% endif %}
  </form>
  <a href = '/'>Início</a>
  </center>
{% endblock conteudo %}

