{% extends "base.html"%}

{% block titulo %} - Programa 10{% endblock titulo %}

{% block conteudo %}
  <center>
  <div>
    <b>Data com mês por extenso.</b>
  </div>
  <form method="post" action="">
   {% csrf_token %}
   {% for field in exercicio10_form %}
   <div class="field">
      <div class="field">
        <div>
          {{ field.label_tag }}:
        </div>
        </div>
          {{ field }}
        <div>
        </div>
        </div>
    {% endfor %}
    <div id="submit">
      <input type="submit" value=" Enviar " />
    </div>
    {% if resultado %}
      <p>{{ resultado }}</p>
    {% endif %}
  </form>
  <a href="/">Inicio</a>
  </center>
{% endblock conteudo %}
