{% extends "base.html"%}

{% block titulo %} - Programa 2{% endblock titulo %}

{% block conteudo %}
  <div>
    <b>Programa que imprimir um n decrescente informado pelo usuário. <br>
    Use uma função que receba um valor n inteiro e imprima até a n-ésima linha</b>
  </div>  
    <form method="post" action="">
     {% csrf_token %}
     {% for field in exercicio2_form %}
     <div class="field">
        <div class="field">
          <div>
            {{ field.label_tag }}:
          </div>
          </div>
            {{ field }}
          <div>
          </div>
          </div>
      {% endfor %}
      <div id="submit">
        <input type="submit" value=" Enviar " />
      </div>
      {% if resultado %}
        {% for lista in resultado %}
          {% for valor in lista %}
            {{valor}}
          {% endfor %}
        <br>
        {% endfor %}
      {% endif %}
    </form>
    <a href="/">Inicio</a>
{% endblock conteudo %}

