<html>
  <body>
    <form method="post" action="">
     {% csrf_token %}
     {% for field in exercicio7_form %}
     <div class = "field">
       <div class = "field">
         <div>
           {{ field.label_tag }}
        </div>
      </div>
        {{ field }}
      <div>
      </div>
    </div>
    {% endfor %}
      <div id="submit">
        <input type="submit" value=" Enviar " />
      </div>
      {% if resultado %}
        {{resultado}}
      {% endif %}
    </form>
    <a href="/">Inicio</a>
  </body>
</html>

