{% extends "base.html"%}

{% block titulo %} - Programa 13{% endblock titulo %}

{% block conteudo %}
  <div>
    <b>Tamanho de strings.</b>
  </div>
  <form method="post" action="">
   {% csrf_token %}
   {% for field in exercicio13_form %}
   <div class="field">
      <div class="field">
        <div>
          {{ field.label_tag }}:
        </div>
        </div>
          {{ field }}
        <div>
        </div>
        </div>
    {% endfor %}
    <div id="submit">
      <input type="submit" value=" Enviar " />
    </div>
    {% if resultado %}
      <table>
        <tr>
          <td>
            Tamanho:<br>
            Conteúdo:
          </td>
          <td>
            {% for i in resultado %}
              {{ i }}<br>
            {% endfor %}
          </td>
      </table>
    {% endif %}
  </form>
<a href = '/'>Início</a>
{% endblock conteudo %}

