{% extends "base.html"%}

{% block titulo %} - Programa 17{% endblock titulo %}

{% block conteudo %}
  <div>
    <b>Nome na vertical em escada invertida.</b>
  </div>
  <form method="post" action="">
  {% csrf_token %}
   {% for field in exercicio17_form %}
   <div class="field">
      <div class="field">
        <div>
          {{ field.label_tag }}:
        </div>
        </div>
          {{ field }}
        <div>
        </div>
        </div>
    {% endfor %}
    <div id="submit">
      <input type="submit" value=" Enviar " />
    </div>
    {% if resultado %}
      {% for i in resultado %}
        {% for j in i %}
          {{ j }}
        {% endfor %}
        <br>
      {% endfor %}
    {% endif %}
  </form>
<a href = '/'>Início</a>
{% endblock conteudo %}
