{% extends "base.html"%}

{% block titulo %} - Programa 9{% endblock titulo %}

{% block conteudo %}
<center>
  <div>
    <b>Reverso do número.</b>
  </div>
  <form method="post" action="">
   {% csrf_token %}
   {% for field in exercicio9_form %}
   <div class = "field">
     <div class = "field">
       <div>
         {{ field.label_tag }}
      </div>
    </div>
      {{ field }}
    <div>
    </div>
  </div>
  {% endfor %}
    <div id="submit">
      <input type="submit" value=" Enviar " />
    </div>
    {% if resultado %}
      {{resultado}}
    {% endif %}
  </form>
  <a href="/">Início</a>
</center>
{% endblock conteudo %}

