{% extends "base.html"%}

{% block titulo %} - Programa 5{% endblock titulo %}

{% block conteudo %}
<center>
  <div>
    <b>Programa que calcula valor de venda de um produto dado o imposto e o custo</b>
  </div>  
  <form method="post" action="">
   {% csrf_token %}
   {% for field in exercicio5_form %}
   <div class = "field">
     <div class = "field">
       <div>
         {{ field.label_tag }}
      </div>
    </div>
      {{ field }}
    <div>
    </div>
  </div>
  {% endfor %}
    <div id="submit">
      <input type="submit" value=" Enviar " />
    </div>
    {% if resultado %}
      {{resultado}}
    {% endif %}
  </form>
  <a href="/">Inicio</a>
</center>
{% endblock conteudo %}
