{% extends "base.html"%}

{% block titulo %} - Programa 1{% endblock titulo %}

{% block conteudo %}
    <div>
      <center>
        <h1>Aspiras Web</h1><p>
        <a href ="/exercicio1" style="text-decoration:none" >Programa 1</a><br>
        <a href ="/exercicio2" style="text-decoration:none">Programa 2</a><br>
        <a href ="/exercicio3" style="text-decoration:none">Programa 3</a><br>
        <a href ="/exercicio4" style="text-decoration:none">Programa 4</a><br>
        <a href ="/exercicio5" style="text-decoration:none">Programa 5</a><br>
        <a href ="/exercicio6" style="text-decoration:none">Programa 6</a><br>
        <a href ="/exercicio7" style="text-decoration:none">Programa 7</a><br>
        <a href ="/exercicio8" style="text-decoration:none">Programa 8</a><br>
        <a href ="/exercicio9" style="text-decoration:none">Programa 9</a><br>
        <a href ="/exercicio10" style="text-decoration:none">Programa 10</a><br>
        <a href ="/exercicio11" style="text-decoration:none">Programa 11</a><br>
        <a href ="/exercicio12" style="text-decoration:none">Programa 12</a><br>
        <a href ="/exercicio13" style="text-decoration:none">Programa 13</a><br>
        <a href ="/exercicio14" style="text-decoration:none" >Programa 14</a><br>
        <a href ="/exercicio15" style="text-decoration:none">Programa 15</a><br>
        <a href ="/exercicio16" style="text-decoration:none">Programa 16</a><br>
        <a href ="/exercicio17" style="text-decoration:none">Programa 17</a><br>
        <a href ="/exercicio18" style="text-decoration:none">Programa 18</a><br>
        <a href ="/exercicio19" style="text-decoration:none">Programa 19</a><br>
      </center>
    </div>
{% endblock conteudo %}

