{% extends "base.html"%}

{% block titulo %} - Programa 1{% endblock titulo %}

{% block conteudo %}
    <h1>Aspiras Web</h1>
      <div>
        <ul>
            <li> <a href ="/exercicio1" >Programa 1</a></li>
            <li> <a href ="/exercicio2" >Programa 2</a></li>
            <li> <a href ="/exercicio3" >Programa 3</a></li>
            <li> <a href ="/exercicio4" >Programa 4</a></li>
            <li> <a href ="/exercicio5" >Programa 5</a></li>
            <li> <a href ="/exercicio6" >Programa 6</a></li>
            <li> <a href ="/exercicio7" >Programa 7</a></li>
            <li> <a href ="/exercicio8" >Programa 8</a></li>
            <li> <a href ="/exercicio9" >Programa 9</a></li>
            <li> <a href ="/exercicio10" >Programa 10</a></li>
            <li> <a href ="/exercicio11" >Programa 11</a></li>
            <li> <a href ="/exercicio12" >Programa 12</a></li>
            <li> <a href ="/exercicio13" >Programa 13</a></li>
            <li> <a href ="/exercicio14" >Programa 14</a></li>
            <li> <a href ="/exercicio15" >Programa 15</a></li>
            <li> <a href ="/exercicio16" >Programa 16</a></li>
            <li> <a href ="/exercicio17" >Programa 17</a></li>
            <li> <a href ="/exercicio18" >Programa 18</a></li>
            <li> <a href ="/exercicio19" >Programa 19</a></li>
            </ul>
        </div>
 {% endblock conteudo %}
