<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Aspiras Web{% block titulo %}{% endblock titulo %}</title>
        <style>
            body {
                background-color: #325684;
                font-family: monospace, helvetica;
                padding:70px;
                border:10px solid #FFFFFF;
                margin:10px;
            }
            input[type="text" ] {
               width: 400px;
            }
            a { color: #ffffff;}
        </style>
    </head>
    <body>

        {% block conteudo %}
        {% endblock conteudo %}
    </body>
    <p>
    <center><b>Desenvolvido pelos aspiras Felipe Norato e João Felipe</b></center>
</html>

